<div class="form-group col-sm-6 col-sm-offset-3">
    <label>Name: </label><input id="name" class="form-control" name="name" type="text" value="<%= user.name%>"/>
    <label>Email: </label><input id="email" class="form-control" name="email" type="email" value="<%= user.email%>" disabled="true"/>
    <br><button class="btn btn-success" type="button" id="edit-btn">Save</button>
</div>