<% include layout%>
<div class="col-sm-8 col-sm-offset-2">
	<ul id="myTabs" class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
		<li role="presentation"><a href="#orders" aria-controls="home" role="tab" data-toggle="tab">Orders</a></li>
	</ul>
</div>

<div class="row profile">
    <% include profile-edit %>
</div>
	<script src="../../javascripts/app/profile.js"></script>